
body {
    background-color: black;
}

.flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    margin-right: 10px;
}

.navbar {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 25%;
    background-color: #121212;
    border-radius: 15px;
    margin-bottom: 10px;
}

.navbar div {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-left: 5%;
}

.library {
    display: flex;
    flex-direction: column;
    flex: 0 1 75%;
    background-color: #121212;
    border-radius: 15px;
    padding: 5px;
}


.library>* {
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.library>*:first-child {
    margin-top: 5%;
}

.library-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lib-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lib-top>*:first-child {
    display: flex;
}

.nav-logo {
    display: block;
    max-width: 140px;
    max-height: 155px;
    width: auto;
    height: auto;
}

.nav-a-hover {
    font-size: 1.2rem;
    color: #a7a7a7 !important;
    text-decoration: none !important;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.nav-a-hover:hover {
    color: white;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(142deg) brightness(106%) contrast(104%);

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.nav-a-hover div p {
    margin-left: 20px;
}

.main {
    display: flex;
    flex: 1 1 85%;
    background: rgb(31, 31, 31);
    background: linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(16, 16, 16, 1) 50%);
    border-radius: 15px;
}

.main-top {
    display: flex;
    flex: 0 0 100%;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background: #101010 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
}

.main-search {
    display: flex;
    margin-right: auto;
    padding: 10px;
    background: #242424;
    border-radius: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-search-text {
    width: 250px;
}

.main-top a {
    margin-left: 10px;
    font-size: 1rem;
}

.main-border-right {
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px solid white;
}

.nav-a-hover-login {
    color: black !important;
    background: white;
    border-radius: 20px;
    padding: 10px;

    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.nav-a-hover-login:hover {
    background: rgb(215, 215, 215);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.main-search:has(.main-search-text:focus) {
    outline: 2px solid white !important;
}

.main-search-text:focus {
    outline: none !important;
}

.main-search>* {
    background: #242424;
    color: white;
    border: none;
}

.main-content {
    display: flex;
    flex-direction: column;

}