.nav-container {
    width: 100%;
    background-color: #2A2826;
}

.navbar {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.nav-brand {
    align-self: center;
    font-size: 3rem;
    color: #BFBFBF;
}

.nav-tabs {
    align-self: center;
    margin-left: auto;
}

.nav-tab {
    display: inline-block;
    margin: 5px;
    color: #BFBFBF;
}

.nav-search-tab {
    display: inline-block;
    margin: 5px;
    color: #BFBFBF;
}

.nav-tabs .nav-tab {
    font-size:1.4rem;
}

.nav-tabs .nav-tab:hover {
    margin: 5px;
    text-decoration: none !important;
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);


    transition: transform 0.03s ease-in-out;
    -webkit-transition: transform 0.03s ease-in-out;
    -moz-transition: transform 0.03s ease-in-out;
    -ms-transition: transform 0.03s ease-in-out;
    -webkit-transition: transform 0.03s ease-in-out;
    color: #FFFFFF;
}

@media screen and (max-width: 488px) {
    .navbar {
        justify-content: center;
    }

    .nav-tabs {
        margin-left: 0 !important;
    }
}