* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic Rounded';
    text-decoration: none;
}

@font-face {
    font-family: 'Gothic Rounded';
    src: url('../fonts/Gotham\ Rounded\ Medium.otf');
}